@model JiraIssueBrowser.Models.Page

<div class="pagination">
  <ul>
    <li class="@(Model.IsFirstPage() ? "disabled" : null)"><a href="#">«</a></li>
    @for (int page = 1; page <= Model.TotalPages; page++)
    {
        <li class="@(Model.IsCurrentPage(page) ? "active" : string.Empty)">@Model.GenerateUrl(Html, page)</li>
    }
    <li class="@(Model.IsLastPage() ? "disabled" : null)"><a href="#">»</a></li>
  </ul>
</div>
