@model AnotherJiraRestClient.Issues
@{
    ViewBag.Title = "Index";
}

@ViewBag.Test

<table border="0">
<tr>
    <th>
        Key
    </th>
    <th>
        Status
    </th>
    <th>
        Summary
    </th>
</tr>


@foreach (var issue in Model.issues) {
    <tr>
        <td>
            @issue.key
        </td>
        <td>
            @issue.fields.status.name
        </td>
        <td>
            @issue.fields.summary
        </td>
    </tr>
}
</table>
